nav .navbar-brand {
    font-size: xx-large;
}

.sidebar {
    float: left;
    width: 20%;
}

.long {
    width: 20%;
}

.short {
    width: 10%;
}

.wide {
    width: 100%
}

.left {
    float: left;
}

.left-margin {
    margin-left: 20%;
}

.right {
    position: relative;
    left: 20%;
}