{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
        {% for symbol in stocks %}
            <tr>
                <td>{{ symbol }}</td>
                <td>{{ stocks[symbol][0] }}</td>
                <td>{{ stocks[symbol][1] }}</td>
                <td>{{ stocks[symbol][2] }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <th>Cash</th>
            <td>{{ cash }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <th>TOTAL</th>
            <td>{{ total }}</td>
        </tr>
    </table>
{% endblock %}
